{% extends "admin/change_form.html" %}

{% block object-tools-items %}

    {% if admin_next_instance_href %}
        <li><a href="{{ admin_next_instance_href }}" class="historylink">
            « Previous {{ opts.verbose_name|capfirst }}
        </a></li>

    {% endif %}

    {% if admin_prev_instance_href %}
        <li><a href="{{ admin_prev_instance_href }}" class="historylink">
            Next {{ opts.verbose_name|capfirst }} »
        </a></li>
    {% endif %}

    {{ block.super }}

{% endblock %}

