{% extends "./change_form.html" %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% if fieldset.name == None %}
    {% include "admin/includes/fieldset.html" %}
  {% endif %}
{% endfor %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% for fieldset in adminform %}
  {% if fieldset.name %}
    {% include "admin/includes/fieldset.html" %}
  {% endif %}
{% endfor %}
{% endblock %}

{% block inline_field_sets %}
{% endblock %}
